*,
*::after *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*body {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  background-color: aqua;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500px;
}

#nev {
  display: flex;
  /* background-color: #dfe4ea; */
  margin: 10px;
}
.logo img {
  height: 40px;
  width: 150px;
}

#nev ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}
#nev li {
  display: inline-block;
  position: relative;
  padding: 10px 0 0 0;
}

#nev ul li a {
  display: block;
  margin: 0;
  padding: 12px 15px;
  text-decoration: none;
  color: black;
}
#nev ul li a:hover {
  background-color: #38ada9;
}

/* Dropdown manu */
#nev li a:hover {
  background-color: #38ada9;
  border-radius: 15px;
}
#nev ul ul {
  position: absolute;
  left: 0;
  top: 50;
  background: #fff;
  display: none;
  z-index: 999;
}
#nev ul ul li {
  display: block;
}
#nev ul li:hover ul {
  display: block;
}

#nev ul ul li:hover a {
  background: #38ada9;
}

#nev ul ul li:hover li a {
  background: #0c2461;
}
#nev ul ul li a:hover {
  background: #38ada9;
}

/* banner */

#main_banner {
  /* position: relative; */
  background-image: url(/image/breadcrumb.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: fixed;
  height: 35rem;

  padding-left: 50px;
  transition: 0.5s;
}
.content_banner {
  padding-top: 120px;
}
.content_banner_2 h1 {
  font-size: 80px;
  font-weight: 300;
  height: 40px;
}
.content_banner h4 {
  font-size: 15px;
  border-left: 1px solid black;
  padding-left: 14px;
  width: 10px;
}
.content_banner_2 {
}
.content_banner_2 .price {
  color: black;
  font-size: 15px;
  font-weight: 300;
  padding-bottom: 20px;
}
.content_banner_2 .price span {
  font-family: serif;
  font-size: 25px;
  font-weight: bold;
}
.content_banner_2 .button {
  border-radius: 5px;
  background: white;
  width: 150px;
  padding: 10px;
  /* color: black; */
  font-weight: bold;
}
.content_banner_2 .button:hover {
  background-color: black;
  color: white;
}

/* product section */

#product_section {
  display: flex;
  position: relative;

  overflow: hidden;
}
.product {
  position: relative;
}
.product img {
  margin: 30px;
  padding: 20px;
  width: 85%;
  height: auto;
  transition: 0.5s ease;
}
.product img:hover {
  transform: scale(1.2);
}
.product2 img {
  margin: 30px;
  padding: 20px;
  width: 90%;
  height: auto;
  transition: 0.5s ease;
}
.product2 img:hover {
  transform: scale(1.2);
}
.product_text {
  position: absolute;
  bottom: 120px;
  left: 80px;
  line-height: 5px;
}
.product2_text {
  position: absolute;
  bottom: 50px;
  width: 100%;
  height: 100%;
  line-height: 2px;
}
.product_text h1 {
  display: block;
  top: 250px;
  padding: 0;
  left: 80px;
  width: 100px;
  height: 7px;
  color: black;
  font-size: 50px;

}
.product_text h1:hover {
  color: #d35400;
}
.product2_text h1 {
  display: block;
  top: 250px;
  padding: 0;
  left: 750px;
  width: 100px;
  height: 30px;
}
.product_text p {
  color: black;
  line-height: 2px;
}

/* text section */

.text {
  text-align: center;
  height: 200px;
  padding-top: 200px;
}
.text h1 {
  font-size: 50px;
  padding: 0;
  margin: 0;
  font-weight: 500;
}
.text p {
  color: #666666;
}

/* add_to_cart section */

.main-card{
  display: flex;
  justify-content: space-between;
}

.add_to_cart{
  margin: 20px;
  padding: 10px;
  width: 20rem;
}
.card_image {
  position: relative;
  overflow: hidden;
}
.card_image button {
  position: absolute;
  left: 0;
  transform: translateY(100%);
  bottom: 0;
    right: 0;
    padding: 20px;
    transition: 0.5 ease;
    font-weight: 600;
    font-size: 15px;
    transition: 0.5s ease;

}

.add_to_cart1 {
  text-align: center;
}

.add_to_cart .card_image img{
  width: 100%;
}

.card_image:hover button {
  transform: translateY(0%);
  background-color: black;
    color: #fff;
}

.add_to_cart h2{
  margin-top: 30px;
  line-height: 5px;
  font-weight: 300;
  color: black
}

.add_to_cart h2:hover{
  color: #d35400;
}


.all_products {
  height: 150px;
  padding-top: 150px;
  text-align: center;
}
.all_products a {
  height: 30px;
  background-color: #e15f41;
  color: black;
  font-size: 20px;
  font-weight: 600;
  border: none;
  text-decoration: none;
}

/* navigation2 section */
.nav_text{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_text h1{
  font-size: 50px;
  font-weight: 800;
}
.nav_text ul{
 
  list-style: none;
  margin-top: 0;
  padding: 0;
}
.nav_text ul  li{
  display: inline-block;
  padding: 20px;
}
.nav_text ul  li a{
  text-decoration: none;
  color: #e15f41;
  font-size: 20px;
  font-weight: 600;
}
.nav_text ul  li a:hover{
  background-color: #e15f41;
  color: black;
}

/* product section2 */

.main_product{
  display: flex;
  gap: 20px;
}

.product_all{
  position: relative;
}
.product_all_image{
  /* width: 85%; */
  height: auto;
  transition: 0.5s ease;
}
.product_all_image:hover{
  transform: scale(1.1);
}
.product_all_image:hover h2{
  color: #d35400;
}
.productTexttow{
  position: absolute;
  bottom: 120px;
  left: 80px;
  line-height: 5px;
}
.productTexttow h2{
  display: block;
  top: 250px;
  padding: 0;
  left: 80px;
  width: 100px;
  height: 7px;
  color: black;
  font-size: 50px;
}
.productTexttow p{
  color: black;
  line-height: 2px;
}
.product1{
  width: 18rem;
}
.product_image {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.product_image button {
  position: absolute;
  left: 0;
  transform: translateY(100%);
  bottom: 0;
    right: 0;
    padding: 20px;
    transition: 0.5 ease;
    font-weight: 600;
    font-size: 15px;
    transition: 0.5s ease;

}

.productTextOne {
  text-align: center;
}

.reletad-product{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.product1 .product_image img{
  width: 100%;
}

.product_image:hover button {
  transform: translateY(0%);
  background-color: black;
    color: #fff;
}
.product1 p{
  color: #92430f80;
}
.product1 h2{
  margin-top: 30px;
  line-height: 5px;
  font-weight: 600;
  color: black
}

.product1 h2:hover{
  color: #d35400;
}


.bannerone_image{
  background-image: url(/image/home1_banner1.jpg);
  height: 600px;
  width: 100%;
  position: relative;
  margin-top: 50px;
}
.upper_image{
  position: absolute;
  margin-top: 180px;
  padding-left: 55rem;
}
.bannerone_image p{
  margin-top: 10px;
  right: 20px;
}

/* Our Blogs text section */
.Blogs_text{
  height: 200px;
  text-align: center;
}
.Blogs_text h1{
  font-size: 50px;
  font-weight: bold;
  padding-top: 100px;
  line-height: 5px;
  color: #222222;
  
}
.Blogs_text p{
  font-size: 18px;
  color: #777777;
}

/* Our Blogs section */

.main_blog{
  display: flex;
  justify-content: space-between;
}
.blog{
  width: 30rem;
  margin: 20px;
  padding: 10px;
}
.blog img{
  width: 24rem;
  transition: 0.5s ease;
}
.blog img:hover{
  transform: rotate(5deg);
  transform: scale(1.1) rotate(5deg);
}
.blog a{
  text-decoration: none;
}
.blog a h1{
  color: black;
  font-weight: 900;
}
.blog a h1:hover{
  color: #d35400;
}
.blog a p{
  color: black;
  text-decoration: underline;
  margin-top: 10px;
  
}
.main_blog .blog span{
  text-decoration: none;
}
.blog a p:hover{
  color: #d35400;
}
.blog button{
  border-radius: 5px solid;
  font-size: 15px;
  font-weight: 600;
  padding: 15px;
  color: black;
  background-color: #fff;
  margin-top: 25px;
  border:none;
}
.blog button:hover{
  background-color: #d35400;
  color: #fff;
}

.blog p{
  color: #777777;
  font-size: 15px;
  line-height: 20px;
  margin-top: 50px;
}

/* Designer section */

.Designer{
  height: 500px;
  position: relative;
  
}
.Design_text{
  text-align: center;
  margin-top: 100px;
  background-color: #FFD8D4;
  height: 300px;
  width: 90%;
  position: absolute;
  margin-left: 5%;
  margin-right: 5%;
  
}
.Design_text h1{
  font-weight: 900;
  color: #222222;
  padding-top: 100px;
 
}

/* footer section */

footer{
  width: 90%;
  position: absolute;
  color: black;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #808e9b;
}
.row{
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;

}
.col{
  flex-basis: 22%;
  padding: 10px;
}
.logo{
  width: 150px;
  margin-bottom: 30px;
}
.email{
  width: fit-content;
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
  color: black;
}
.col h3{
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
  color: black;
}
ul li {
  list-style: none;
  margin-bottom: 12px;
   
}
ul li a{
  text-decoration: none;
  color: #808e9b;
}
ul li a:hover{
  color: #e15f41;
}
form{
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}
form input{
  width: 100%;
  background: transparent;
  color: #57606f;
  border: 0;
  outline: none;
}
form button{
  background: transparent;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  color: black;
  border: none;
  font-weight: 400;
}
form button:hover{
  color: #e15f41;
}